@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

:root {
    --primary-color: #52489c;
    --secondary-color: #59c3c3;
    --accent-color: #f45b69;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica, sans-serif;
    --secondary-font: Mooli, san-serif;
}

body {
    font-family: var(--primary-font);
    text-align: center;
    font-family: "Mooli", Arial, Helvetica, sans-serif;
}

a:link,
a:visited {
    color: var(--text-light);
}

.viewer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: grid;
    place-items: center;
    z-index: 10;
}

.viewer img {
    max-height: 100%;
    max-width: 100%;
    border: none;
    box-shadow: none;
    width: 90%;
    height: 70%;
}

.close-viewer {
    position: absolute;
    top: 10px;
    right: 20px;
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    z-index: 11;
}

header {
    background-color: var(--primary-color);
    color: var(--text-light);
    text-align: center;
    padding: 1%;
}

h1 {
    font-size: 40px;
}

.cool {
    display: block;
}

.menu-button {
    display: block;
}

.hide {
    display: none;
}

h3 {
    font-size: 30px;
    font-weight: bold;
}

ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

li {
    padding: 0.3rem;
    font-size: 15px;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

img {
    height: 250px;
    width: 250px;
    max-width: 100%;
    object-fit: cover;
    border: 8px solid white;
    box-shadow: 10px 10px 10px black;
}

footer {
    background-color: var(--primary-color);
    color: white;
    text-align: left;
    padding: 5px 200px;
    margin: 0;
}

@media screen and (min-width: 700px) {
    .viewer img {
        width: 80%;
        height: 80%;
        max-height: 100%;
        max-width: 100%;
        border: none;
        box-shadow: none;   
    }
    .cool {
        display: inline;
    }

    .pics {
        display: inline;
    }

    .gallery {
        grid-template-columns: 1fr 1fr;
        padding: 0 12%;
        gap: 5px;
    }

    img {
        height: 200px;
        width: 200px;
    }
}

@media screen and (min-width: 1000px) {
    .viewer{
        max-width: 60%;
        max-height: 80%;
        padding: 40px;
        margin: auto;
    }
    .viewer img {
        width: 87%;
        height: 87%;
        max-height: 100%;
        max-width: 100%;
        border: none;
        box-shadow: none;   
    }
    .cool {
        display: inline;
    }

    .pics {
        display: inline;
    }

    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0 16%;
        gap: 0px;
    }

    img {
        height: 200px;
        width: 200px;
    }

    #menu-button {
        display: none;
    }

    #menu {
        display: flex;
        color: var(--text-light);
    }

    ul {
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        list-style-type: none;
    }

    li {
        padding: 0 4rem;
        font-size: 20px;
        color: var(--text-light);
    }

    h2 {
        display: none;
    }
}