body{
    margin: 10% 25%;
    border: 0.1em solid black;
    padding: 2% 7%;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    text-align: center;
    font-size: 1.7em;
    letter-spacing: 0.1em;
}
h2 {
    color: hsl(207, 82%, 36%);
    text-align: center;
    font-size: 0.7em;
    letter-spacing: 3px;
    border-bottom: 1px solid gray;
}

p, ol li{
    font-size: 0.92em;
    text-align: left;
    line-height: 1.5em;
    font-size: 0.95em;
}

ol li{
    margin: 0.9em;
}

#university{
    font-style: italic;
}

.actions{
    list-style-type: decimal;
    display: block;
    padding-left: 1em;
}

footer{
    text-align: center;
}

img{
    width: 30%;
    max-width: 100%;
    height: auto;
    padding-top: 4%;

}